.modal {
  $transition-speed: .3s;
  display: block;

  &.modal-enter {
    opacity: 0;
    transform: translateY(-25%);
  }

  &.modal-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: $transition-speed;
  }

  &.modal-leave {
    opacity: 1;
    transform: translateY(0);
  }

  &.modal-leave-active {
    opacity: 0;
    transform: translateY(-25%);
    transition: $transition-speed;
  }
}
