.modal {
  $transition-speed: .3s;
  display: block;

  &.modal-enter {
    opacity: 0;
    transform: translateY(-25%);
  }

  &.modal-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: $transition-speed;
  }

  &.modal-leave {
    opacity: 1;
    transform: translateY(0);
  }

  &.modal-leave-active {
    opacity: 0;
    transform: translateY(-25%);
    transition: $transition-speed;
  }
}

.modal-backdrop {
  $opacity: .5;
  $transition: opacity 300ms ease;

  &.modal-enter {
    opacity: 0;

    &.modal-enter-active {
      opacity: $opacity;
      transition: $transition;
    }
  }

  &.modal-leave {
    opacity: $opacity;

    &.modal-leave-active {
      opacity: 0;
      transition: $transition;
    }
  }
}
